export(GetLogFile)
export(SetLogFile)
export(GetLogLevel)
export(SetLogLevel)
export(GetTimeStampFormat)
export(SetTimeStampFormat)
export(GetFilenameSuffixes)
export(SetFilenameSuffixes)
export(message)
export(warning)
export(stop)
